@using e_business;
@using e_business.ViewModels.Employee;
@{
    ViewData["Title"] = "Employee - Create";
}
@model CreateEmployeeVM
<div class="container">
    <div class="card p-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control">
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramUrl"></label>
                <input asp-for="InstagramUrl" class="form-control">
                <span asp-validation-for="InstagramUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookUrl"></label>
                <input asp-for="FacebookUrl" class="form-control">
                <span asp-validation-for="FacebookUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterUrl"></label>
                <input asp-for="TwitterUrl" class="form-control">
                <span asp-validation-for="TwitterUrl" class="text-danger"></span>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>